main {
  display: flex;
  height: 95vh;
}
a {
  text-decoration: none;
}
.leftArea {
  display: inline-block;
  height: 95vh;
  width: 70vw;
  background-color: #19181a;
}
.rightArea {
  display: inline-block;
  height: 95vh;
  width: 30vw;
  background-color: #19181a;
}
.infoArea {
  color: #fcfcfa;
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 50rem;
  margin-left: 5rem;
}
p.heyy {
  display: flex;
  margin: 1rem 0 0 2rem;
}
h1.emre {
  display: flex;
  margin: 0 0 0 1rem;
}
ul.icons {
  margin: 0.3rem 0 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.li-icon {
  margin-right: 2.5rem;
}

.icon {
  color: #fc9867;
  font-size: 2rem;
}
.icon:hover {
  font-size: 2.5rem;
  color: #a9dc76;
}
.icon.github {
  margin-left: 1rem;
}
.codeArea {
  display: flex;
  height: 27.3rem;
  width: 50rem;
  background-color: #2d2a2e;
  margin: 1rem 0 0 5rem;
  border-radius: 1.5rem;
}
ul.lineNumbers {
  color: #4d4f53;
  margin: 0 0 0 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.5rem;
}
div.straightLine {
  background-color: #4d4f53;
  height: 27.3rem;
  width: 0.05rem;
  margin-left: 1rem;
}
.codeZone {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}
ul.codeZone .line {
  color: #fcfcfa;
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
}
.line.hidden {
  visibility: hidden;
}
.red {
  color: #ff6188;
}
.yellow {
  color: #ffd866;
}
.grey {
  color: #4d4f53;
}
.blue {
  color: #74dce8;
}
.green {
  color: #a9dc76;
}
.orange {
  color: #f09867;
}
.rightArea {
  padding: 0 4rem 0 0;
}
div.pic-container {
  display: flex;
  flex-direction: row-reverse;
}
.mycoolpic {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin: 1rem 0 0 0;
}
div.projectsHeader {
  color: #fcfcfa;
}
.projectsHeadline {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row-reverse;
}
.stickyZone1 {
  width: 100%;
  height: 27.3rem;
  background-color: #786822;
  border-radius: 2rem 2rem 2rem 8rem / 2rem 2rem 2rem 4rem;
}
.stickyZone2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 27.3rem;
  background-color: #ffdc49;
  border-radius: 2rem 2rem 2rem 20rem / 2rem 2rem 2rem 5rem;
}

.pin-container {
  width: 100%;
  height: 2rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.pin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9d0000;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  text-align: center;
}
.pin-blackdot {
  background-color: #262626;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
}
.projects-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
  padding: 0 1rem;
}
.proj-container {
  display: block;
  width: 100%;
  height: fit-content;
}
.proj-button {
  float: right;
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 1.7rem;
  text-align: center;
  background-color: #959594;
  border: 2px solid #4d4f53;
  box-shadow: 2px 2px 2px;
  border-radius: 1rem;
  margin: 0.5rem 0 0 0;
  text-decoration: none;
}
.proj-button:hover {
  background-color: #bbbbb9;
  border: 3px solid #4d4f53;
  box-shadow: 4px 4px 4px;
}
.link:visited {
  color: inherit;
}
.proj-p {
  margin: 0.5rem 0 0 0;
  float: left;
  font-size: 1rem;
  height: fit-content;
  color: #4d4f53;
}
