main {
  display: flex;
  height: 95vh;
}
a {
  text-decoration: none;
}
a:visited {
  color: #9f8198;
}
.leftArea {
  display: inline-block;
  height: 95vh;
  width: 70vw;
}
.rightArea {
  display: inline-block;
  height: 95vh;
  width: 30vw;
}
.infoArea {
  color: #fcfcfa;
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 50rem;
  margin-left: 5rem;
}
p.heyy {
  display: flex;
  margin: 1rem 0 0 2rem;
}
h1.emre {
  display: flex;
  margin: 0 0 0 1rem;
}
ul.icons {
  margin: 0.3rem 0 0 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.li-icon {
  margin-right: 2.5rem;
}

.icon {
  color: #fc9867;
  font-size: 2rem;
}
.icon:hover {
  font-size: 2.5rem;
  color: #a9dc76;
}
.icon.github {
  margin-left: 1rem;
}
.codeArea {
  display: flex;
  height: 27.3rem;
  width: 50rem;
  background-color: #1d1e22;
  margin: 1rem 0 0 5rem;
  border-radius: 1.5rem;
}
ul.lineNumbers {
  color: #4d4f53;
  margin: 0 0 0 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.5rem;
}
div.straightLine {
  background-color: #4d4f53;
  height: 27.3rem;
  width: 0.05rem;
  margin-left: 1rem;
}
.codeZone {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}
ul.codeZone .line {
  color: #fcfcfa;
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
}
.line.hidden {
  visibility: hidden;
}
.red {
  color: #ff6188;
}
.yellow {
  color: #ffd866;
}
.grey {
  color: #4d4f53;
}
.blue {
  color: #74dce8;
}
.green {
  color: #a9dc76;
}
.orange {
  color: #f09867;
}
.rightArea {
  padding: 0 4rem 0 0;
}
.mycoolpic {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin: 1rem 0 0 0;
}
.notes-container {
  background-color: #1d1e22;
  height: 27.3rem;
  border-radius: 1rem;
  margin: 9rem 0 0 0;
}
.gear {
  color: #4c4f5a;
  width: 2rem;
  height: 2rem;
  margin: 1rem 0 1rem 1rem;
}
.notes-header {
  margin-bottom: 0.5rem;
}
.myprojects-headline {
  display: inline;
  position: absolute;
  margin: 0.8rem 0 0 0.8rem;
  color: #c7cad6;
  font-size: 2rem;
}
.chevrondown {
  float: right;
  color: #4c4f5a;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem 1rem 1rem 0;
}
.notes-area {
  height: fit-content;
}
.project {
  margin: 0 1rem 1rem 1rem;
}
.h-project {
  color: #9f8198;
  margin: 0;
  font-size: 1.5rem;
}
.project-info {
  color: #4d4f53;

  font-size: 0.8rem;
  margin: 0;
}
body {
  background-image: url("../assets/sigma.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px) grayscale(0%);
}
